.main {
  position: relative;
  width: 100%;
  padding-top: 70px;
}
.main .inner {
  flex-direction: column;
}
.main-top {
  width: 100%;
  display: flex;
  gap: 2.564vw;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-top: 30px;
}

.main-banner {
  /* 웹브라우저 너비 대비 */
  width: 65.81vw;
  max-width: 770px;

  /* 웹브라우저 너비 대비 높이 계산 */
  height: 40.25vw;
  max-height: 470px;
  overflow: hidden;
  border-radius: 20px;
}
/* =======  swiper 영역 */
.banner-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
.banner-wrap .swiper {
  width: 100%;
  height: 100%;
}
.banner-wrap .swiper-slide {
  width: 100%;
  height: 100%;
}
.swBanner .swiper-pagination {
  bottom: 30px !important;
}
.swBanner .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  background-color: #fff;
  transition: width 1s, opacity 1s;
  border-radius: 2px;
  opacity: 0.4;
}
.swBanner .swiper-pagination-bullet-active {
  width: 20px;
  opacity: 1;
}

.banner-wrap .banner-content {
  width: 100%;
  height: 100%;
  background: url("../../images/b1.png") no-repeat center;
  background-size: cover;
}
.banner-wrap .banner-content a {
  width: 100%;
  height: 100%;
  display: block;
}
/* ============ swiper 영역 */

.main-event {
  /* 웹브라우저 너비 대비 */
  width: 31.62vw;
  max-width: 370px;

  /* 웹브라우저 너비 대비 높이 계산 */
  height: 40.25vw;
  max-height: 470px;
  overflow: hidden;
  border-radius: 20px;
}
.main-event a {
  width: 100%;
  height: 100%;
  display: block;
  background: url("../../images/br.png") no-repeat center;
  background-size: cover;
}
/* 반응형 */
@media screen and (max-width: 1024px) {
  .main {
    padding-top: 60px;
  }
  .main-banner {
    width: 100%;
    max-width: 100%;
    height: 75vw;
    max-height: 750px;
  }
  .main-event {
    display: none;
  }
}

.main-bottom {
  display: flex;
  justify-content: space-between;
}
.main-contents {
  width: 71.79vw;
  max-width: 840px;
}
.content-wrap {
  width: 100%;
}
.content-wrap h3 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  color: #1e1e1e;
}

.content-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.content-list-link {
  width: 100%;
  /* flex-grow, flex-shrink 및 flex-basis 값을 설정합니다. */
  flex: 0 1 calc(33.333% - 30px);
}
.content-list-img {
  position: relative;
  width: 100%;
  height: 22.22vw;
  max-height: 260px;
  margin-bottom: 20px;
  transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;

  transform: translateY(0);
}
.content-list-img:hover {
  z-index: 9999;
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.2));
  transform: translateY(-20px);
}

.content-list-thumb {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("../../images/c1.jpg") no-repeat center;
  background-size: cover;
  border-radius: 20px;
}
.content-list-txt {
  margin-bottom: 20px;
}
.content-list-cate {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 700;

  color: #e700a7;
}
.content-list-cate img {
  width: auto;
  height: 24px;
}

.content-list-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #1e1e1e;
}

.content-list-date {
  font-size: 14px;
  color: #ccc;
}

/* 반응형 */
@media screen and (max-width: 1024px) {
  .main-contents {
    width: 100%;
    max-width: 100%;
  }
  .content-wrap {
  }
  .content-list {
    flex-direction: column;
  }
  .content-list-img {
    width: 100%;
    height: 75vw;
    max-height: 750px;
  }
}

.content-ad {
  position: relative;
  width: 100%;
  height: 160px;
  margin-bottom: 60px;
}
.content-ad a {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  background: #031efb url("../../images/1pc.png") no-repeat center;
  background-size: contain;
  border-radius: 20px;
}

.main-cards {
  width: 25.64vw;
  max-width: 300px;
}
.main-cards-wrap {
  width: 100%;
}
.main-cards-wrap h3 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  color: #0c127c;
}
.main-cards-slide {
  width: 100%;
}
/* 의도적으로 그림자를 보여줌 */
.swCards {
  overflow: visible !important;
}
.swCards .swiper-wrapper {
  display: block;
}

.main-card {
  position: relative;
  width: 300px;
  height: 320px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 25px;

  background: url("../../images/p1.png") no-repeat center;
  background-size: cover;
  transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
  border-radius: 20px;

  transform: translateY(0);
}

.main-card:hover {
  z-index: 9999;
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.2));
  transform: translateY(-15px);
}

.main-card-cate {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #f5f7fa;
}
.main-card-cate span {
  display: block;
  margin-left: 4px;
  padding: 3px 10px;
  background: rgba(0, 0, 0, 0.7);
  font-size: 10px;
  color: #fff;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .main-bottom {
    flex-direction: column;
  }
  .main-contents {
    width: 100%;
    max-width: 100%;
  }
  .content-ad {
    height: 76.1vw;
  }
  .content-ad a {
    background: #031efb url("../../images/1mobile.png") no-repeat center;
    background-size: contain;
    border-radius: 0px;
  }

  .main-cards {
    width: 100%;
    min-width: 1024px;
    max-width: 100%;
  }
  .swCards .swiper-wrapper {
    display: flex;
  }
  .main-card {
    width: 240px;
    height: 265px;
  }
}
